// body {
//     margin: 0;
//     color: #6a6f8c;
//     background: #c8c8c8;
//     font: 600 16px/18px 'Open Sans',sans-serif;
//   }
  
//   *, :after, :before {
//     box-sizing: border-box;
//   }
  
  .clearfix {
    &:after, &:before {
      content: '';
      display: table;
    }
    &:after {
      clear: both;
      display: block;
    }
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  
  .login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(40, 57, 101, 0.9);
    .sign-in-htm, .sign-up-htm {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      transition: all .4s linear;
    }
    .sign-in, .sign-up {
      display: none;
    }
  }
  
  .login-form .group .check {
    display: none;
  }
  
  .login-html .tab {
    text-transform: uppercase;
  }
  
  .login-form .group {
    .label, .button {
      text-transform: uppercase;
    }
  }
  
  .login-html {
    .tab {
      font-size: 22px;
      margin-right: 15px;
      padding-bottom: 5px;
      margin: 0 15px 10px 0;
      display: inline-block;
      border-bottom: 2px solid transparent;
    }
    .sign-in:checked + .tab, .sign-up:checked + .tab {
      color: #fff;
      border-color: #1161ee;
    }
  }
  
  .login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    .group {
      margin-bottom: 15px;
      .label, .input, .button {
        width: 100%;
        color: #fff;
        display: block;
      }
      .input, .button {
        border: none;
        padding: 15px 20px;
        border-radius: 25px;
        background: rgba(255, 255, 255, 0.1);
      }
      input[data-type="password"] {
        text-security: circle;
        -webkit-text-security: circle;
      }
      .label {
        color: #aaa;
        font-size: 12px;
      }
      .button {
        background: #1161ee;
      }
      label .icon {
        width: 15px;
        height: 15px;
        border-radius: 2px;
        position: relative;
        display: inline-block;
        background: rgba(255, 255, 255, 0.1);
        &:before, &:after {
          content: '';
          width: 10px;
          height: 2px;
          background: #fff;
          position: absolute;
          transition: all .2s ease-in-out 0s;
        }
        &:before {
          left: 3px;
          width: 5px;
          bottom: 6px;
          transform: scale(0) rotate(0);
        }
        &:after {
          top: 6px;
          right: 0;
          transform: scale(0) rotate(0);
        }
      }
      .check:checked + label {
        color: #fff;
        .icon {
          background: #1161ee;
          &:before {
            transform: scale(1) rotate(45deg);
          }
          &:after {
            transform: scale(1) rotate(-45deg);
          }
        }
      }
    }
  }
  
  .login-html {
    .tab, button, input[type=button]{
        cursor: pointer;
    }
    .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm, .sign-up:checked + .tab + .login-form .sign-up-htm {
      transform: rotate(0);
    }
  }
  
  .hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .foot-lnk {
    text-align: center;
  }