/* You can add global styles to this file, and also import other style files */
router-outlet, header-component, footer-component{
    display: block;
}

body {
    margin: 0;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px 'Open Sans',sans-serif;
  }
  
  *, :after, :before {
    box-sizing: border-box;
  }

input{
    outline: none;
}